* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  // text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  // appearance: none !important;
  // -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  // border-radius: 0;
}

/* CSS reset */

body {
  background-color: #f7e4d4;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 480px;
  height: 480px;

  @media screen and (max-width: 519px) {
    width: 100vw;
  }
}

form {
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  padding: 30px;
  padding-bottom: 10px;

  font-weight: 400;
  font-size: 48px;
  color: #467745;
  text-align: center;
  font-family: "EB Garamond", serif;

  @media screen and (max-width: 519px) {
    font-size: 36px;
    text-align: left;
  }
}

input[type="text"] {
  font-size: 16px;
  color: #467745;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;

  background-color: #fff;

  width: 100%;
  height: 64px;
  padding: 20px;
  margin: 15px auto;

  @media screen and (max-width: 519px) {
    width: calc(100% - 40px);
    height: 40px;
  }
}

textarea {
  width: 100%;
  height: 120px;
  padding: 20px;
  margin: 15px auto;

  font-size: 16px;
  font-weight: 300;
  color: #467745;
  font-family: "Montserrat", sans-serif;

  background-color: #fff;

  @media screen and (max-width: 519px) {
    width: calc(100% - 40px);
  }
}

::placeholder {
  color: #467745;
  opacity: 1;
}

.checkbox {
  text-align: left;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: inline-block;
  box-shadow: none;
  background-color: #fff;
  border-color: #f7e4d4;
}

label[for="checkbox"] {
  font-size: 16px;
  font-weight: 400;
  color: #467745;
  font-family: "Montserrat", sans-serif;
}

span {
  text-decoration: underline;
  font-weight: 500;
}

button {
  width: 280px;
  height: 80px;
  border-radius: 40px;
  margin: 30px auto;

  background-color: #467745;

  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-family: "EB Garamond", serif;
  color: #f7e4d4;
}
